<html>
<head>
    <title>EROOR 404</title>
</head>

<body>
  <img class="logo" src ="./assets/images/AJ+404.png" align="middle"  >
  <div class="header">

  <h1  style="font-family:Helvetica margin:40px ; " >you are not suppose to be here go back ya prince </h1>
</div>
<style>
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  width:20%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1

}

.header {
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

#madeby {
  font-size: .7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 50px;
  color: #d7d7d7;
}
</style>
<div id="madeby">
  <span>
    Made by <a href="https://www.facebook.com/eslam.amin.104" target="_blank">esso</a>
  </span>
</div>

</body>

</html>
