
<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">

<!--<link href="./assets/styles.css" rel="stylesheet" type="text/css"/>-->
<link href='./assets/ind_styles.css' rel='stylesheet' type='text/css' />


<head>
<meta charset="utf-8" />
<title>get twittes by twitt id </title>
</head>

<div id="contact">
    <h1>Tweet Hunt Beta</h1>
    <form action="/ajtweet" method="post">

            <label for="name">Tweet_Link:</label>
            <input type="text" id="name" size="60" name="name" placeholder="enter the copied twitter link  " />

            <input type="submit" value="export to aj+  " />


    </form>
</div>

</html>
