* {
    box-sizing: border-box;
}

@font-face {
    font-family: ArHelvet;
    src: url(/assets/HelveticaNeueLTArabic-Roman.ttf);
}
h3 {
    font-family: ArHelvet;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #454545

}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.left {
  padding: 0px 20px;

    width: 60%;
}

/* Middle column */
.column.right {

  padding-top: 300px;

  padding-left: 10px;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {

    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
textarea {
   font-family: inherit;
   font-size: inherit;
}

#mytext{
  font-family: ArHelvet;
  padding: 12px 20px;
  margin-right: 200px;
  margin-top: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  font-size: .9rem;
  width:400px;
  height:200px;

}

#mytext:focus {
    background-color: lightblue;
}
a {
    background-color: #45c7c7; /* Green */
    border: none;
    color: #131313;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px 4px 2px;
    cursor: pointer;
    border-radius:5px;
}
a:hover{
  background-color: #50dada;
}
#myCanvas{
  transform: scale(0.7) translate(100px , -100px);

  float:right;
  margin-top: 10;



}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;

    left: -9999px;
}


[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    margin-left: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;

    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
